.page#home {
  .hero-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: HOMEHeroBlur 4000ms linear;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;

    svg {
      width: 50%;
      margin-bottom: 300px;
    }
  }

  path {
    stroke-dasharray: 900;
    stroke-dashoffset: 900;
    animation: HOMEPathAnim 4000ms;
  }
}

@keyframes HOMEHeroBlur {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes HOMEPathAnim {
  0% {
    stroke-dashoffset: 900;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
