#navbar {
  position: fixed;
  font-size: 45px;
  bottom: calc(100vh - 130px);
  font-weight: bold;
  right: 20px;
  mix-blend-mode: difference;
  z-index: 1;
  transform: rotateZ(var(--angle));
  transition: transform 600ms ease-in;

  span {
    margin-right: 20px;

    &:last-child {
      margin-right: 45px;
    }

    a {
      text-decoration: none;
      color: #fff;
      display: inline-block;
    }
  }
}
