#navbar {
  position: fixed;
  font-size: 45px;
  bottom: calc(100vh - 140px);
  font-weight: bold;
  right: 20px;
  mix-blend-mode: difference;
  z-index: 1;
  transform: rotateZ(3deg);

  span {
    margin-right: 20px;

    &:last-child {
      margin-right: 45px;
    }

    a {
      text-decoration: none;
      color: #fff;
      display: inline-block;
    }
  }
}
