#canvas-container {
  position: fixed;
  width: 60%;
  height: 100%;
  left: 40%;

  .template {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    div {
      div {
        --thickness: 10px;
        position: absolute;
        transition: transform 600ms ease-in-out;
        background-color: #ddd;

        &.top {
          top: 5%;
          left: -60%;
          right: 0;
          height: var(--thickness);
          transform: rotateZ(var(--angle));
        }
        &.bottom {
          bottom: 5%;
          left: -60%;
          right: 0;
          height: var(--thickness);
          transform: rotateZ(calc(-1 * var(--angle)));
        }
        &.left {
          top: 0;
          bottom: 0;
          left: 15%;
          width: var(--thickness);
          transform: rotateZ(calc(-1 * var(--angle)));
        }
        &.right {
          top: 0;
          bottom: 0;
          right: calc(8% + 2px);
          width: var(--thickness);
          transform: rotateZ(var(--angle));
        }
      }
    }

    #canvas-wrapper {
      canvas {
        width: 100%;
        height: 100%;
      }
    }
  }
}
