#canvas-container {
  position: fixed;
  width: 60%;
  height: 100%;
  left: 40%;

  .template {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    div {
      div {
        --thickness: 20px;
        border: 1px solid red;
        position: absolute;
        transition: transform 600ms ease-in-out;
        // transition-delay: 700ms;
        background-image: repeating-linear-gradient(
          45deg,
          #f00 0% 2%,
          #0ff 2% 4%
        );

        &.top {
          top: 7%;
          left: 0;
          right: 0;
          height: var(--thickness);
          transform: rotateZ(var(--angle));
        }
        &.bottom {
          bottom: 8%;
          left: 0;
          right: 0;
          height: var(--thickness);
          transform: rotateZ(calc(-1 * var(--angle)));
        }
        &.left {
          top: 0;
          bottom: 0;
          left: 7%;
          width: var(--thickness);
          transform: rotateZ(calc(-1 * var(--angle)));
        }
        &.right {
          top: 0;
          bottom: 0;
          right: 7%;
          width: var(--thickness);
          transform: rotateZ(var(--angle));
        }
      }
    }

    #canvas-wrapper {
      canvas {
        width: 100%;
        height: 100%;
      }
    }
  }
}
