#template {
  div {
    position: fixed;
    border-style: solid;
    border-color: #000;
    border-width: 0;
    z-index: 20;
  }

  .top {
    top: 7%;
    left: 0;
    right: 0;
    border-bottom-width: 0.5px;
  }
  .bottom {
    bottom: 7%;
    left: 0;
    right: 0;
    border-top-width: 0.5px;
  }
  .left {
    left: 7%;
    top: 0;
    bottom: 0;
    border-right-width: 0.5px;
  }
  .right {
    right: 7%;
    top: 0;
    bottom: 0;
    border-left-width: 0.5px;
  }
}
