#template {
  --thickness: 3px;
  // opacity: 0.3;

  div {
    position: fixed;
    z-index: 10;
    transition: transform 600ms ease-in-out;
    // transition-delay: 700ms;
    background-image: linear-gradient(to right, #000, #000) !important;

    &.top {
      height: var(--thickness);
      top: 7%;
      left: 0;
      right: 0;
      transform: rotateZ(var(--angle));
    }
  }
  .bottom {
    height: var(--thickness);
    bottom: 7%;
    left: 0;
    right: 0;
    transform: rotateZ(calc(var(--angle) * -1));
  }
  .left {
    width: var(--thickness);
    left: 4%;
    top: 0;
    bottom: 0;
    transform: rotateZ(calc(var(--angle) * -1));
  }
  .right {
    width: var(--thickness);
    right: 4%;
    top: 0;
    bottom: 0;
    transform: rotateZ(var(--angle));
  }
}
