#layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-image: linear-gradient(to right, #044 50%, #044 50%);
  // background-image: linear-gradient(to right, #d8b370 50%, #d8b370 50%);
  // background-image: linear-gradient(to right, #ff0, #ff0);
  // background-image: linear-gradient(to right, #fff, #fff);
  mix-blend-mode: difference;
  // mix-blend-mode: darken;
  pointer-events: none;
  z-index: 100;
}
