.page#works {
  .hero-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: WORKSHeroBlur 4000ms linear;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;

    svg {
      width: 60%;
      margin-bottom: 200px;
    }
  }

  path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: WORKSPathAnim 4000ms;
  }
}

@keyframes WORKSHeroBlur {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes WORKSPathAnim {
  0% {
    stroke-dashoffset: 1000;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
