#mouse {
  position: fixed;
  border-radius: 5px;
  border: 3px solid transparent;
  margin-bottom: -12px;
  margin-left: -20px;
  width: 40px;
  height: 25.2px;
  pointer-events: none;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 0));
  mix-blend-mode: difference;
  transform: scale(0.75);
  transition: transform 400ms;
  z-index: 10;
}

#mouse.active {
  transform: rotateZ(120deg) scale(1);
}

#mouse:before,
#mouse:after {
  content: '';
  border: inherit;
  position: absolute;
  top: -0.5vh;
  left: -0.5vh;
  background-image: inherit;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

#mouse:before {
  transform: rotate(60deg);
}
#mouse:after {
  transform: rotate(-60deg);
}
