@font-face {
  font-family: 'Didot';
  src: url('./assets/fonts/Didot-Bold.otf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: 'Didot', Georgia;
}

#root {
  background: #fff;
}

/* #root::before {
  content: '';
  height: 300%;
  width: 300%;
  opacity: 0.5;
  background-repeat: repeat;
  position: fixed;
  left: -50%;
  top: -100%;
  background-image: url('./assets/images/noise.png');
  animation: grain 8s steps(10) infinite;
  pointer-events: none;
  z-index: 1;
} */

.container {
  width: 100vw;
  min-height: 100vh;
}

#first {
  position: fixed;
  left: 0;
  top: 7%;
  width: 100%;
  height: 2px;
  background: #f00;
  z-index: 1000;
  /* animation: sthsthsth 4000ms linear infinite; */
  transform: rotateZ(var(--angle));
  transition: transform 600ms ease-in-out;
  /* transform-origin: 0 0; */
}

#second-container {
  /* border: 5px solid #0ff; */
  position: fixed;
  width: 60%;
  top: 0;
  bottom: 0;
  right: 0;
}

#second-wrapper {
  /* border: 5px solid #00f; */
  width: 100%;
  height: 100%;
  position: relative;
}

#second {
  position: absolute;
  left: 0;
  top: calc(7% - 9px);
  width: 100%;
  background: #0ff;
  height: 10px;
  z-index: 1000;
  /* animation: sthsthsth 4000ms linear infinite; */
  transform: rotateZ(var(--angle));
  transition: transform 600ms ease-in-out;
  /* transform-origin: -100px -40px; */
}

@keyframes sthsthsth {
  0% {
    transform: rotateZ(2deg);
  }
  50% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(2deg);
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
