@font-face {
  font-family: 'Architectural';
  src: url('./assets/fonts/Architectural.woff') format('woff'),
    url('./assets/fonts/Architectural.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Nirvana';
  src: url('./assets/fonts/nirvana.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Didot';
  src: url('./assets/fonts/Didot-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Didot';
  src: url('./assets/fonts/Didot-Bold.otf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  font-family: 'Architectural', Georgia;
  font-family: 'Didot', Georgia;

  /* font-family: 'Nirvana', Georgia; */
}

#root {
  background: #fff;
}

/* #root::before {
  content: '';
  height: 300%;
  width: 300%;
  opacity: 0.6;
  background-repeat: repeat;
  position: fixed;
  left: -50%;
  top: -100%;
  background-image: url('./assets/images/noise.png');
  animation: grain 8s steps(10) infinite;
  pointer-events: none;
} */

.container {
  width: 100vw;
  min-height: 100vh;
  /* background: #fff; */
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
