@font-face {
  font-family: 'Architectural';
  src: url('./assets/fonts/Architectural.woff') format('woff'),
    url('./assets/fonts/Architectural.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Nirvana';
  src: url('./assets/fonts/nirvana.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  font-family: 'Architectural', Georgia;
  /* font-family: 'Nirvana', Georgia; */
}

.container {
  width: 100vw;
  min-height: 100vh;
  color: white;
}
